* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

div {
	height: calc(100% - 20px);
	width: 100%;
	top: 20px;
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
div.sel {
	opacity: 1;
	pointer-events: auto;
}

canvas {
	float: left;
	max-height: 100% !important;
}
canvas.a {
	max-width: 60% !important;
}
canvas.b {
	max-width: 40% !important;
}

nav {
	height: 20px;
	flex: 0;
}
